doctype html
block vars
  - var page = ""
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    link(href="../css/bootstrap.min.css",rel="stylesheet")
    link(href="../css/base.css",rel="stylesheet")
    link(href="../css/login.css",rel="stylesheet")
    link(href="../css/forget-password.css",rel="stylesheet")
    link(href="../css/register.css",rel="stylesheet")
    link(href="../css/result.css",rel="stylesheet")
    block head
  body(id=page)
    .wrapper
      .header.clearfix(th:header="dd")
        block header
          include header
      .content
        block content
      .footer.hidden-xs
        include footer
    script(src="../js/jquery-1.9.1.min.js")
    script(src="../js/responsive.min.js")
    block js

